@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@-webkit-keyframes anim-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  75% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes anim-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  75% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #333333;
  background-color: #ffffff;
}

.header__container {
  position: fixed;
  top: 1em;
  left: 0;
  height: 3.5em;
  width: 100%;
  background-color: #ffffff;
  z-index: 50;
  box-shadow: 1px 1px 5px #333333;
}
.header__content {
  position: relative;
  padding: 0.5em;
}

.searchbar input {
  position: absolute;
  width: 98%;
  height: 40px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #e4e1e1;
  color: #9E9C9C;
}

.footer__button {
  text-decoration: none;
  color: #000000;
  position: fixed;
  border-radius: 100%;
  background-color: #3ac5f0;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 2em;
  top: 50%;
  right: 0.25em;
  transform: translateY(-50%);
}
@media only screen and (min-width: 32em) {
  .footer__button {
    bottom: 0;
    right: 5em;
    top: 25em;
    transform: translateY(50%);
  }
}
.footer__button:hover {
  background-color: #0786db;
}

.main {
  margin-top: 5em;
  padding: 0 1em;
}

.notes {
  max-width: 90.063em;
  margin: 0 auto;
  vertical-align: top;
}

.note__container {
  border-radius: 10px;
  box-shadow: 4px 4px 8px #333333;
  width: 100%;
  margin-bottom: 3%;
  vertical-align: top;
  -webkit-animation: anim-in 0.5s forwards;
          animation: anim-in 0.5s forwards;
  transition: all 0.3s ease-out;
  position: relative;
  opacity: 0;
  transform: scale(0);
  display: inline-block;
}
@media only screen and (min-width: 32em) {
  .note__container {
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}
@media only screen and (min-width: 64.063em) {
  .note__container {
    width: 30.33333333%;
  }
}
.note__header {
  position: relative;
  padding: 0.75em 0.5em;
}
.note__title {
  font-size: 70%;
  font-style: italic;
}


/* .note__delete {
  
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  border-radius: 100%;
  border: 1px solid #FE654F;
  background-color: #075f88;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-weight: 700;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
}
.note__delete:hover {
  background-color: #fe2203;
} */

.note__delete {
  box-sizing: border-box;
  /* position: absolute; */
  display: block;
  float: right;
  transform: scale(var(--ggs,1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow:
  0 0 0 2px,
  inset -2px 0 0,
  inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px
 }
 
 .note__delete::after,
 .note__delete::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
 }
 
 .note__delete::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px
 }
 
 .note__delete::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px
 } 



.note__body {
  padding-bottom: 3em;
}
.note__content {
  padding: 0.5em;
  min-height: 4em;
}
.note__content:active, .note__content:focus {
  border: none;
  outline: none;
}
.note__footer {
  padding: 0.5em;
  position: absolute;
  bottom: 0;
  right: 0;
}
.note__colour-picker {
  display: block;
  float: right;
  overflow: hidden;
  text-indent: -999999em;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  border: 1px solid #cbcbcb;
  margin: 0 0.25em;
  box-shadow: 1px 1px 2px #cbcbcb;
}
.note__colour-picker.is--active {
  transform: scale(1.3);
}
